# Dependencias
node_modules/

# Resultado del build (lo genera GitHub Actions automáticamente)
dist/

# Logs y archivos de sistema
npm-debug.log*
.DS_Store
Thumbs.db

# Entornos
.env
.env.local
.next/
build/
*.log
